:root {
  --custom-popover-bg: linear-gradient(
    45deg,
    rgba(255, 245, 219, 0.6) 0%,
    rgba(255, 255, 255, 1) 34%,
    rgba(255, 255, 255, 1) 67%,
    rgba(213, 240, 240, 0.6) 99%
  );
}

.MuiPopper-root.MuiDataGrid-panel .MuiDataGrid-paper {
  background: white;
  background-image: var(--custom-popover-bg) !important;
}

.MuiPopper-root.MuiDataGrid-menu .MuiPaper-root {
  background: white;
  background-image: var(--custom-popover-bg) !important;
}
